.calendar-container {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.events-container {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.custom-event {
//   display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 4px;
  border-radius: 4px;
  color: #fff;
  font-size:26px;
  font-weight: 500;
  cursor: pointer;
}

.event-time {
  font-weight: bold;
  font-size: 10px;
}

/* garante que cada linha fique uma abaixo da outra */
.cal-month-view .custom-event{
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start;
  gap: 2px;
}

/* cada item ocupa uma linha */
.custom-event .event-time,
.custom-event .event-title{
  display: block;
  width: 100%;
}




/* se você tiver colocado antes, remova/evite isso: */
/* .custom-event { display:flex; align-items:center; } */

